/*320px布局*/
html{font-size: 85.333px;}

/* iphone 6 */
@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    html{font-size: 100px;}
}
/* iphone6 plus */
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    html{font-size: 110.4px;}
}
*{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", 微软雅黑 ;
    margin: 0;
    padding: 0;
}
a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?4b8u3u');
    src:url('../fonts/icomoon.eot?#iefix4b8u3u') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?4b8u3u') format('truetype'),
    url('../fonts/icomoon.woff?4b8u3u') format('woff'),
    url('../fonts/icomoon.svg?4b8u3u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lanmall-home:before {
    content: "\e600";
}
.icon-lanmall-cart:before {
    content: "\e601";
}
.icon-lanmall-compass:before {
    content: "\e602";
}
.icon-lanmall-center:before {
    content: "\e603";
}

/*

Container Page CSS


*/

/*html{*/
    /*font-size:100px;*/
/*}*/
.container{

}
.container-width-full{

}
.container-width-regular{
    max-width: 3.75rem;
    margin:0 auto;
    padding: 0.2rem 0.15rem;
    background-color: #f0f0f0;
}

/*

Index Page CSS


*/


.index-product-list{
    width: 1.66rem;
    display: inline-block;
    overflow: auto;
    vertical-align: top;
    background-color: white;
    margin-bottom: 0.13rem;
    position: static;
    border-radius: 0.05rem;
    -webkit-box-shadow: 0.02rem 0.02rem 0.03rem #e3e3e3;
    -moz-box-shadow: 0.02rem 0.02rem 0.03rem #e3e3e3;
    box-shadow:  0.02rem 0.02rem 0.03rem #e3e3e3;
}
.index-section-link{
    display: inline-block;
}
.index-section-link:nth-child(2n){
    margin-left: 0.13rem;
}
.index-product-img {
    /*width: 1.68rem;*/
    max-width: 1.66rem;
    max-height: 1.2rem;
    overflow: hidden;

}
.index-product-img img{
   width: 100%;
}
.index-product-type-icon{
    width:0.38rem ;
    height: 0.525rem;

    position: absolute;
    margin-left: 1.15rem;
    margin-top: -1.26rem;


    background: url("../images/index-product-type-icon.png")  no-repeat ;
    background-size: 100% 100%;


}

.index-product-name{
    margin-top: 0.1rem;
    margin-bottom: 0.05rem;
    margin-left: 0.06rem;

    font-size: 0.13rem;
    color: #666;
}
.index-product-prices{
    margin-bottom: 0.13rem;
    margin-left: 0.06rem;

    font-size: 0.13rem;
    color: #666;
}
.index-product-prices span{
    font-size: 0.17rem;
    color: #e86e00;
}


.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
    height: 1.50rem;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}

.masthead{
    width: 100%;
    overflow: hidden;
}
.masthead img{
    width: 100%;
    /*max-width: 46.875em;*/
    /*border-radius: 20px;*/
    /*-webkit-border-radius: 20px;*/

}

/*

Menu Page CSS


*/
.container-menu{
    width: 100%;
    /* height: 0.485rem; */
    height: 0.485rem;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 -1px 1px #a8a8a8;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}
.menu{
    max-width: 3.75rem;
    height: 0.485rem;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
    /* box-shadow: 0 0 1px #a8a8a8; */
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}
.menu li{
    display: inline-block;
    vertical-align: top;
    width: 0.75rem;
    text-align: center;
}
.menu-cart-count{
    width: .16rem;
    height: .16rem;
    background-color: #f38816;
    font-size: .11rem;
    color: #fff;
    text-align: center;
    display: inline-flex;
    position: absolute;
    top: 0.039rem;
    right: 0.15rem;
    -webkit-border-radius: .08rem;
}
.menu a{
    color: #b3b3b3;
    display: inline-block;
    vertical-align: top;
    font-size: 0.25rem;
    text-decoration: none;
    margin-top: 0.1rem;
}
.menu a:link{
    color: #b3b3b3;
    text-decoration: none;
}
.menu li:nth-child(2){
    position: relative;
}
.menu a:visited{
    color: #b3b3b3;
    text-decoration: none;
}
.menu a:hover {
    color: #b3b3b3;
    text-decoration: none;
}
.menu a:active{
    color: #b3b3b3;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}
.menu .menu-center img{
    width: 0.52rem;
    margin-top: -0.17rem;
    /*margin-left: 0.11rem;*/
    /*margin-right: auto;*/
}
.menu .menu-color-green{
    color: #89cd3c!important;
}


/*

    header
*/

.header{
    height: 0.45rem;
    width: 100%;
    font-size: 0.18rem;
    text-align: center;
    color: #89cd3c;
    padding-top: 0.13rem;
    box-shadow: 0 1.5px 1px #d2d2d2;
    position: relative;
}

/*
    cart
*/
.cart-container{
    /*padding-top: 0.09rem;*/
    background-color: #f6f6f6;
}
.cart-checkout-container{
    height: 0.47rem;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.485rem;

    background-color: #f8f8f5;

    box-shadow:0 -1px 1px   #cececd;
}
.cart-checkout-count{
    height: 0.47rem;
    float: left;

    padding-top: 0.12rem ;
    padding-left: 0.3rem;
}
.cart-checkout-count span{
    color: #e86e00;
}
.cart-checkout{
    height: 0.47rem;
    /*max-width: 3.75rem;*/
    margin:0 auto;
    padding-left: 0.145rem;
    font-size: 0.16rem;
}
.cart-checkout-button{
    width: 26.66%;
    height: 0.47rem;
    float: right;
    background-color: #89cd3c;
    /*padding-top: 0.09rem;*/
    text-align: center;
    color: #fff;
    border: 0;
    font-size: 0.16rem;
}
.cart-editor{
    /*background-color: red;*/
    background: url("../images/cart-editor.png") no-repeat;
    background-size: 100%;
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    right: 0.15rem;
    top: 0.13rem;
    font-size: .16rem;
}
.cart-editor-text{
    /*background-color: red;*/
    /*background: url("../images/cart-editor.png") no-repeat;*/
    /*background-size: 100%;*/
    width: 0.4rem;
    height: 0.2rem;
    position: absolute;
    right: 0.1rem;
    top: 0.13rem;
    font-size: .16rem;
    display: none;

}

.cart-blank{
    height: 0.95rem;
    background-color: #fff;

}
.cart-list{
    margin-top: 0.1rem;

}
.cart-list a{
    color: #333;
    text-decoration: none;
}
.cart-list a:link{
    color: #333;
    text-decoration: none;
}
.cart-list a:visited{
    color: #333;
    text-decoration: none;
}
.cart-list a:hover{
    color: #333;
    text-decoration: none;
}
.cart-list a:active{
    color: #333;
    text-decoration: none;
}

.cart-container a:nth-child(1) section {
    border-top: solid 1px #d6d6d6;

}

.cart-tab{
    height: 1.1rem;
    padding: 0.12rem 0.145rem;
    background-color: #fff;
    border-bottom: solid 1px #d6d6d6 ;
}

.cart-checkbox {
    margin-left: .05rem;
    width: 0.3rem;
    margin-right: .05rem;
    height: 100%;
    float: left;
    overflow: hidden;
    position:relative;
}

.cart-checkbox input[type="checkbox"]{
    display:none;
}

.cart-checkbox .checkbox{
    display: inline-block;
    position: absolute;
    border:1px solid #b8b8b8;
    border-radius: 100rem;
    width:0.2rem;
    height:0.2rem;
    background-image: url('../images/checkbox.png');
    background-size: 100% 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
}

.cart-checkbox .checkbox.checked{
    background-image: url('../images/checkbox-checked.png');
}

.cart-checkbox-select-all {
    float: left;
    padding-top: 0.12rem ;
    padding-left: 0.05rem;
    height: 100%;
}

.cart-tab-img{
    width: 1rem;
    max-height: 0.8rem;
    float: left;
    overflow: hidden;

}
.cart-tab-img img{
    max-width: 0.9rem;
    float: right;
    margin-right: 0.1rem;
    margin-top: 0.1rem;
}
.cart-tab-des{
    margin-left: 1.4rem;
    overflow: hidden;
    position:relative;

}
.cart-tab-des-title{
    width: 85%;
    font-size: 0.13rem;
    color: #333;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.cart-tab-des-quantity{
    margin-top:0.09rem ;

    font-size: 0.13rem;
    color: #999;


}
.cart-tab-des-prices{
    margin-top:0.09rem ;

    position: relative;
    font-size: 0.19rem;
    color: #e86e00;
    float: left;
}
.cart-tab-des-count{
    position: absolute;
    right: 0;

    color: #333;

}

/*cart-tab-edit*/

.cart-tab-edit{
    margin-left: 1.4rem;
    font-size:0.13rem ;

    display: none;
}
.cart-tab-editor{
    height: 0.24rem;
    float:right;
    text-align: center;
    font-size: 0.14rem;
    margin-top: 0.07rem;
}
.cart-tab-editor-add{
    width: 0.24rem;
    height: 0.24rem;

    float: left;
    background-color: #f3f5f5;

    padding-top: 0.02rem;
}
.cart-tab-editor-count{
    width: 0.70rem;
    height: 0.24rem;

    float: left;
    background-color: #ffffff;
    border: 0.02rem solid #f3f5f5;
    padding-top: 0.02rem;
}
.cart-tab-editor-reduce{
    width: 0.24rem;
    height: 0.24rem;

    float: left;
    background-color: #f3f5f5;

    padding-top: 0.02rem;
}

.cart-tab-edit-quantity{
    height:0.16rem ;
    clear: both;

    position: absolute;

    margin-top:  0.16rem;

    color: #666;
}
.cart-tab-edit-count{
    height:0.16rem ;
    clear: both;

    position: absolute;

    margin-top:  0.32rem;

    color: #666;
}

.cart-tab-edit-del{
    position:absolute;
    top: 0.02rem;
    right:0.04rem;
    font-size: 0.16rem;
}
/*

order_list

*/

.order-header-back{
    background: url("../images/order-list-header-back.png") no-repeat;
    background-size: 100%;
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    left: 0.15rem;
    top: 0.13rem;
    z-index: 1000;
}
.order-header-menu{
    font-size: 0.15rem;
    text-align: center;

    background-color: #f6f6f6;
    border-bottom: solid 1px #b9b9b9;

}

.order-header-menu li{
    display: inline-block;
    width:0.65rem ;
    margin: 0.1rem 0.15rem 0 0.1rem;
    font-size: 0.15rem;
    color: #999999;

    padding-bottom: 0.1rem;


}

.order-header-menu li a{
     color: #999999;
 
}






.order-header-menu li a:link{
    color: #999999;
    text-decoration: none;
}

.order-header-menu li a:visited{
    color: #999999;
    text-decoration: none;
}
.order-header-menu li a:hover {
    color: #999999;
    text-decoration: none;
}
.order-header-menu li a:active{
    color: #999999;
    text-decoration: none;
}



.order-header-menu .li-checked{

    color: #89cd3c;
    border-bottom: solid 0.03rem #89cd3c;
}
.order-header-menu .li-checked a{

    color: #89cd3c!important;

}


.order-list-container{
    background-color: #f6f6f6;
    /*border:solid 1px #e6e6e6;*/

}
.order-list-tab{
    background-color: #fff;
    border: solid 1px #e6e6e6 ;
    margin-bottom: .09rem;
}
.order-container-width-regular{
    max-width: 3.75rem;
    margin:0 auto;
    padding: 0.11rem 0.09rem;
    background-color: #f6f6f6;
}

.order-tab-img{
    width: 0.85rem;
    max-height:1.1rem ;
    float: left;

}
.order-tab-img img{
    width: 0.85rem;
    height: 0.85rem;
    float: left;
    /*margin-right: 0.1rem;*/
    /*margin-top: 0.1rem;*/
}
.order-tab-des{
    margin-left: 1.15rem;

}
.order-tab-des-title{
    font-size: 0.13rem;
    color: #333;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}
.order-tab-des-quantity{
    margin-top:0.09rem ;

    font-size: 0.13rem;
    color: #999;


}
.order-tab-des-prices{
    margin-top:0.09rem ;

    position: relative;
    font-size: 0.19rem;
    color: #e86e00;
}
.order-tab-des-count{
    position: absolute;
    right: 0;

    color: #333;

}
.order-list-tab-top{
    border-bottom: solid 1px #cececd;
    padding:0.12rem 0.2rem;
}
.order-list-tab-bottom{
    height: .63rem;
    font-size: .14rem;
    color: #666;

}
.order-status{
    max-width: 2.25rem;
    float: left;

    padding-top: .15rem;
    padding-left: .2rem;
}
.order-list-button{
    width: 1.4rem;
    float: right;
    text-align: center;
    color: #89cd3c;

    padding-top: .15rem;
}
.order-list-button a{
    display: inline-block;
    width: .53rem;
    height: .33rem;
    border: solid .015rem #89cd3c;
    -webkit-border-radius: .06rem;
    color: #89cd3c;
    padding-top: .06rem;
    margin: 0 .02rem;
}
.order-list-button a:link{
   color: #89cd3c;
   text-decoration: none;
}
 
.order-list-button a:visited{
    color: #89cd3c;
    text-decoration: none;
}
.order-list-button a:hover {
    color: #89cd3c;
    text-decoration: none;
}
.order-list-button a:active{
    color: #89cd3c;
    text-decoration: none;
}
.fans-share{
    /*background-color: red;*/
    /*background: url("../images/cart-editor.png") no-repeat;*/
    font-size: .16rem;
    color: #ccc;
    background-size: 100%;
    width: 0.4rem;
    height: 0.2rem;
    position: absolute;
    right: 0.15rem;
    top: 0.13rem;
}

.fans-share a:link{
    color: #ccc;
    text-decoration: none;
}
.fans-share a:visited{
    color: #ccc;
    text-decoration: none;
}
.fans-share a:hover {
    color: #ccc;
    text-decoration: none;
}
.fans-share a:active{
    color: #ccc;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}
.fans-top-banner{
    width: 3.75rem;
    height: 1.5rem;
    margin: 0 auto;
}

.fans-top-banner img{
    width: 3.75rem;
}
.fans-top-container{
    width: 3.75rem;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.fans-middle-container{
    width: 3.75rem;
    margin: 0 auto;
    background-color: #f6f6f6;

    padding: .11rem .09rem;

}
.fans-tab{

    border: solid 1px #e6e6e6;
    font-size: .14rem;
    background-color: #ffffff;
    color: #333333;

    padding-top: .15rem;
    padding-bottom: .15rem;
    margin-bottom: .11rem;



}
.fans-tab-head-img{
    width: .48rem;
    height: .48rem;
    float: left;
    margin-left: .12rem;
}
.fans-tab-head-img img{
    width: 100%;
    height: 100%;
    -webkit-border-radius: .24rem;

}
.fans-tab-des{
    /*float: left;*/
    margin-left: .12rem;
}
.fans-tab-name-date{
    float: left;
    margin-left: .16rem;
    width: 1.6rem;
}
.fans-tab-name-date p{
    margin-bottom: 0.06rem;
}
.fans-tab-name-date p:nth-child(2){
    font-size: .13rem;
    color: #666666;
}
.fans-tab-lever-location{
    text-align: right;
    float: right;
    width: .9rem;
    margin-right: .13rem;
}
.fans-tab-lever-location p:nth-child(2){
    font-size: .13rem;
    color: #666666;
}
.fans-tab-content{
    margin-left: .63rem;
    margin-right: .13rem;
    clear: both;

}
.fans-tab-product-img{
    margin-left: .63rem;
}
.fans-tab-product-img img{
    width: .89rem;
    max-height: .7rem;
    height: .7rem;
}
.fans-tab-bottom{
    font-size: .14rem;
    color: #333;
    text-align: center;
}
.fans-tab-bottom ul{
    width: 100%;
    line-height: 1.5em;

}
.fans-tab-bottom li{
    width: 1.15rem;
    display: inline-block;
    
}
.fans-icon-share{
    width: .21rem;
    height: .15rem;
    background-image: url("../images/fans-icon.png");
    background-size: 100%;
    display: inline-block;
}
.fans-icon-good{
    width: .16rem;
    height: .16rem;
    background-image: url("../images/fans-icon.png");
    background-size: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-y: -0.17rem;
}
.fans-icon-comment{
    width: .16rem;
    height: .16rem;
    background-image: url("../images/fans-icon.png");
    background-size: 100%;
    display: inline-block;
    background-position-y: -0.36rem;
}
.fans-tab-black{
    height: 0.375rem;
}

/*
    cooperation
*/


.cooperation-container{
    background-color: #f6f6f6;
    /*height: 3rem;*/
    font-size: .15rem;
    color: #999999;

    padding-top: .1rem;
}
.cooperation-container li{
     height: .5rem;
     border-bottom: 0.01rem solid #d2d2d2;
     padding-top: .18rem;
     padding-left: .15rem;
     background-color: #ffffff;

 }
.cooperation-container li span{
    display: inline-block;
    width: 1.1rem;

}
.cooperation-container ul{

    border-top: 0.01rem solid #d2d2d2;
}
.cooperation-container input{
    border: 0;
    font-size: .15rem;
    color: #999999;
}

.container-bottom{
    padding: .17rem;
    background-color: #fff;

}

.container-bottom textarea{
    width: 100%;
    height: .85rem;
    border: 0.01rem solid #d2d2d2;
    font-size: 0.16rem;
}

.container-pic{
    width: .65rem;
    height: .65rem;
    background-image: url("../images/cooperation-pic-add.jpg");
    background-size: 100%;
    float: left;
    margin-right: .08rem;
}
.cooperation-button-container{
    width: 100%;
    height: .47rem;
    background-color: #fff;
    border-top: 0.01rem solid #d2d2d2;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;


}
.cooperation-button-container button{
    width: 2.15rem;
    height: .3rem;
    background-color: #89cd3c;
    border: 0.01rem solid #89cd3c;
    -webkit-border-radius: .03rem;

    margin: .08rem auto;
    display: block;
    color: #fff;
}
.container-pics ul{
    list-style: none;
}
.container-pics li{
    height: .65rem;
    padding-top: 0rem;
    padding-left: 0rem;
}
.container-pic img{
    width: .65rem;
    height: .65rem;
    border: 0;

}
.user-center-container{
    width: 3.75rem;
    font-size: .13rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
}
.user-center-header-top{
    height: 1.23rem;
    background: url("../images/user-center-header-bg.jpg") no-repeat 100% 100%;
    padding-left: 1.03rem;
    padding-top:1rem;

}
.user-center-header-bottom{
    height: .6rem;
    background-color: #fff;
    position: relative;
    border-bottom: solid 1px #e3e3e3;
    padding-top: .1rem;

}
.user-center-header-name{

    font-size: .17rem;
    color: #fff;
}
.user-center-header-img{
    width: .63rem;
    height: .63rem;
    border: solid #fff 1px;
    -webkit-border-radius: .315rem;
    overflow: hidden;
    margin-top: -0.415rem;
    margin-left: .15rem;
    position: absolute;
}
.user-center-header-img img{
    width: 100%;
    height: 100%;
}
.user-center-header-bottom ul{
    height: .3rem;
    margin-left: .86rem;
    text-align: center;

}
.user-center-header-bottom ul li{
    width: .93rem;
    height: .3rem;
    border-left: #d2d2d2 solid 1px;
    display: inline-block;
    font-size: .13rem;
    color: #999;


}
.user-center-header-bottom ul li:first-child{
    border-left: none;
}
.user-center-header-bottom ul li span{
    font-size: .15rem;
    color: #000;
}
.user-center-orders ul{
    width: 100%;
    height: .8rem;
    margin-top: .1rem;
    padding-top: .16rem;
    background-color: #fff;
    text-align: center;
    border-bottom: solid 1px #e3e3e3;
    border-top: solid 1px #e3e3e3;

    color:  #999;

}
.user-center-orders ul li{
    width: .85rem;
    display: inline-block;

}
.user-center-orders ul li a{
    width: .3rem;
    height: .3rem;
    display: inline-block;

}
.user-center-orders ul li a img{
    width: 100%;
    height: 100%;


}
.user-center-icon-cart{
    background-image: url("/images/marg1.jpg");
}
.user-center-icon-qrcode{
    background-image: url("/images/marg2.jpg");
}
.user-center-icon-order{
    background-image: url("/images/marg3.jpg");
}
.user-center-icon-address{
    background-image: url("/images/marg4.jpg");
}
.user-center-icon-phone{
    background-image: url("/images/marg5.jpg");
}
.user-center-icon-help{
    background-image: url("/images/marg6.jpg");
}

.user-center-list-one{
    width: 3.75rem;
    padding-left: .15rem;
    margin-top: .1rem;

    background-color: #fff;

    border-bottom: solid 1px #e3e3e3;
    border-top: solid 1px #e3e3e3;
}
.user-center-list-one span{
    display: inline-block;
    float: left;
    width: .28rem;
    height: .28rem;

    background-size: 100% 100%;
    margin-right: .07rem;
}
.user-center-list-one p{
    margin-top: .09rem;
    font-size: .15rem;
    float: left;
}
.user-center-list-one li{
    list-style: none;
    height: .5rem;

    padding-top: .12rem;

    border-bottom: solid 1px #e3e3e3;
}
.user-center-list-one li:last-child{
    border-bottom: none;
}

.user-center-list-one-right{
    width: .08rem;
    height: .15rem;
    float: right;
    margin-right: .15rem;
    margin-top: .05rem;
    background-size: 100%;
    background-image: url(../images/arrowright.jpg);

}
.user-center-body{
    background-color: #f6f6f6;
}
.user-center-black{
    width: 100%;
    height: .5rem;
}
.live-body{
    background-color: #f6f6f6;
}
.live-container{
    width: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .1rem;
    padding: .18rem .2rem;
    font-size: .14rem;
    color: #333;
    border: solid 1px #d2d2d2;
    background-color: #fff;
}
.live-container .title{
    font-size: .23rem;
}
.live-container .date{
    margin-top: .15rem;
    color:#666666;
}
.live-container .content{
    margin-top: .16rem;

}
.live-container .method{
    padding-top: .1rem;
}
.live-container-content ul{
    width: 100%;
    text-align: center;

}
.live-container-content li{
    width: 1.1rem;
    display: inline-block;
}
.live-comment{
    width: 3.75rem;
    padding: .11rem .21rem;
    border: solid 1px #e6e6e6;

    background-color: #fff;

    margin-left: auto;
    margin-right: auto;
    margin-top: .1rem;



}
.live-comment p{
    height: .12rem;
    margin-bottom: .1rem;
    font-size: .13rem;
    color: #666666;
}
.live-comment-tab{
    width: 100%;
    margin-top: .06rem;
    clear: both;
}
.live-comment-header-img {
    width: .4rem;
    height: .4rem;
    -webkit-border-radius: .2rem;
    float: left;
    overflow: hidden;
}
.live-comment-header-img img{
    width: 100%;
    height: 100%;
    display: inherit;
}
.live-comment-right{
    margin-left: .5rem;
}
.live-comment-right-header{
    height: .15rem;
    font-size: .145rem;
    color: #333333;

}
.live-comment-right-header span{
    font-size: .12rem;
    margin-left: .1rem;
    color: #666;

}
.live-comment-right .content{
    font-size: .12rem;
    color: #333;
    margin-top: .05rem;

}
/* comment box*/
#comment-box-new{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    display: none;
}
#comment-fix-new{
    position: fixed;
    width: 100%;
    height: 25%;
    background: #ffffff;
    left: 0em;
    right: 0em;
    bottom: 0em;
    padding: .15rem;
    border: 1px solid #d3d3d3;

}
#comment-box-bg-new{
    position: fixed;
    width: 100%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0em;
    right: 0em;
    top: 0em;

    border: 1px solid #d3d3d3;
}
#userform-textarea-new{
    width: 100%;
    /*padding: .15rem;*/
    height: 80%;
    /*font-size: 1.425em;*/
    border: 1px solid #d3d3d3;

}
#userform-button-new{
    height: .32rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -0.2rem;
    background-color:#89c403;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #74b807;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:6px 24px;
    text-decoration:none;

}

#userform-button:hover {
    background-color:#77a809;
}
#userform-button:active {
    position:relative;
    top:1px;
}
.qrcode-body{
    background-color: #f6f6f6;
}
.qrcode-header{
    background-color: #fff;
}
.qrcode-des {
    font-size: .16rem;
    background-color: #fff;
    color: #333333;
}
.qrcode-container{
    width: 3.75rem;
    font-size: .16rem;
    margin-top: .1rem;
    margin-left: auto;
    margin-right: auto;


}
.qrcode-des ul{
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 0 .11rem;
}
.qrcode-des li{
    height: .58rem;
    padding-top: .2rem;
    list-style: none;
}
.qrcode-des li:first-child{
    border-bottom: 1px solid #d0d0d0;
}
.qrcode-list{
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;

    background-color: #fff;
    margin-top: .08rem;
    padding: .14rem .11rem;
}
.qrcode-list ul li:first-child .qrcode-icon{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    float: left;
    background: url("../images/qrcode-icon-a.png")   no-repeat;
    background-size: 100%;
}
.qrcode-list ul li:last-child .qrcode-icon{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    float: left;
    background: url("../images/qrcode-icon-c.png")   no-repeat;
    background-size: 100%;
}
.qrcode-list ul li .qrcode-icon{
    display: inline-block;
    width: .6rem;
    height: .6rem;
    float: left;
    background: url("../images/qrcode-icon-b.png")   no-repeat;
    background-size: 100%;
}
.qrcode-list ul li{
    clear: both;
    list-style: none;

}
.qrcode-list ul li .qrcode-list-tab{
    padding-top: .13rem;
    display: inline-block;
    height: .6rem;
    width: 2.85rem;
    color: #666;
    border-bottom: 1px solid #d0d0d0;

}
.qrcode-list ul li:first-child .qrcode-list-tab{
    color: #99cc33;

}
.qrcode-product-list {
    width: 3.75rem;
    margin-top:  .1rem;
    background-color: #fff;
    font-size: .14rem;
    padding: .11rem .17rem;
    overflow: auto;
    border:  1px solid #d0d0d0;

    margin-left: auto;
    margin-right: auto;

}
.qrcode-product-list .tab{
    width: 100%;
    clear: both;
    height: 1rem;
    padding-top: .05rem;
    border-bottom: 1px solid #d6d6d6;
}
.qrcode-product-list .tab .img{
    width: .88rem;
    height: .88rem;
    float: left;

}
.qrcode-product-list .tab .img img{
    width: 100%;
    height: 100%;

}
.qrcode-product-list .tab .des {
    width: 2.5rem;
    float: left;
    padding-top: .25rem;
    padding-left: .08rem;
}
.qrcode-product-list .about{
    float: left;
}
.qrcode-product-list .right{
    margin-top: .11rem;
    width: .1rem;
    height: .2rem;
    background: url("../images/qrcode-list-right.png") no-repeat;
    background-size: 100%;
    float: right;
}
/*qrcode-product-detail-body*/

.qrcode-product-detail-body{
    font-size: .16rem;
    background-color: #f6f6f6;
}
.product-detail{
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;

    background-color: #fff;
    margin-top: .08rem;
    padding: .14rem .11rem;
}
.product-detail p{
    padding-bottom: .1rem;
    border-bottom: 1px solid #d0d0d0;
}
.product-detail ul{
    padding: .1rem .05rem;
}
.product-detail li{
    list-style: none;
    margin-bottom: .2rem;

    color: #666;
}
.product-detail li:last-child{
    margin-bottom: 0;
}
.qrcode-des-right{
    display: inline-block;
    float: right;
    width: .1rem;
    height: 100%;

    background: url("../images/qrcode-list-right.png") no-repeat;
    background-size: 100%;
    float: right;
}

.public-add-cart{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;

    margin-left: auto;
    margin-right: auto;

    height: .45rem;
    width: 3.75rem;
    font-size: .16rem;

    border: 1px solid #bbbbbb;
    background-color: #fff;


}
.public-add-cart .button{

    width: 1.5rem;
    height: 100%;

    display: inline-block;
    float: right;

    text-align: center;
    padding-top: .1rem;
    background-color: #89cd3c;
    color: #fff;
}
.public-add-cart a{
    display: inline-block;
    float: left;
    color: #89cd3c;
    width: 1.5rem;
    font-size: .25rem;
    padding: .09rem .08rem;
    position: relative;
}
.public-add-cart a span{
    color: #666;
    font-size: .2rem;
    position: absolute;
    left: .38rem;
    padding-top: .03rem;
}
.qrcode-product-header{
    background-color: #fff;
}
.qrcode-product-name{
    height: .45rem;
    width: 3.75rem;

    margin-top: .09rem;
    margin-bottom: .09rem;
    padding: 0.11rem  0.15rem;
    background-color: #fff;

    border-bottom: 1px solid #d0d0d0;

}
.qrcode-product-des{
    padding: .15rem;
    color: #666666;
    font-size: .1rem;
    background-color: #fff;
}

/* Modification starts here!!! */

.product-detail-container-width-regular {
    padding: 0;
    padding-top: .4rem;
    background: rgb(246, 246, 246);
    font-size: .15rem;
}

.detail-card {
    background: white;
    padding-bottom: .1rem;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.detail-card .info {
    padding: 0 .15rem;
}

.detail-card .info p {
    margin: .02rem 0;
}

.detail-card .price {
    display: inline-block;
    color: rgb(238, 75, 0);
    font-size: .25rem;
}

.detail-card .flags {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
}

.detail-card .flags li {
    display: block;
    float: left;
    padding: .01rem;
    margin-left: .06rem;
    color: white;
    position: relative;
}

.detail-card .flags li:before {
    content: '';
    position: absolute;
    top: 0; left: -.85em;
    width: 0;
    height: 0;
    border: .1rem solid transparent;
    border-right: .04rem solid #000;
}

.detail-card .flags li:after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border: .1rem solid #000;
    border-left: 0;
    border-right: .04rem solid transparent;
}

.flags li.zhe {
    background: rgb(252, 102, 102);
}

.flags li.zhe:before {
    border-right-color: rgb(252, 102, 102);
}

.flags li.zhe:after {
    border-top-color: rgb(252, 102, 102);
    border-bottom-color: rgb(252, 102, 102);
}

.flags li.cu {
    background: rgb(255, 151, 0);
}

.flags li.cu:before {
    border-right-color: rgb(255, 151, 0);
}

.flags li.cu:after {
    border-top-color: rgb(255, 151, 0);
    border-bottom-color: rgb(255, 151, 0);
}

.flags li.quan {
    background: rgb(167, 205, 14);
}

.flags li.quan:before {
    border-right-color: rgb(167, 205, 14);
}

.flags li.quan:after {
    border-top-color: rgb(167, 205, 14);
    border-bottom-color: rgb(167, 205, 14);
}

.flags li.placeholder:before, .flags li.placeholder:after {
    border: 0;
}

.center {
  position: absolute;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
}

.product-detail-container-width-regular .notice {
    z-index: 99;
    text-align: center;
    font-size: .2rem;
    background: rgb(71, 71, 71);
    color: white;
    width: 2.5rem;
    height: 0.4rem;
    line-height: 0.4rem;
    border-radius: 3px;
    display: none;
    position: fixed;
    opacity: 0;
}

p.padding {
    height: .1rem;
}

.product-detail-container-width-regular .additions {
    background: white;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: .05rem .15rem;
    
}

.product-detail-container-width-regular .additions p {
    padding: .02rem 0;
    margin-left: .2rem;
    position: relative;
    font-size: 0.14rem;
}

.product-detail-container-width-regular .additions p.time:before {
    content: '';
    position: absolute;
    width: .2rem; height: .2rem;
    left: -.21rem;
    background: url('../images/clock.png');
    background-size: 100%;
}

.product-detail-container-width-regular .additions p.bao:before {
    content: '';
    position: absolute;
    width: .2rem; height: .2rem;
    left: -.21rem;
    background: url("../images/bao.png");
    background-size: 100%;
}

legend {
    border-top: 1px solid rgb(211, 211, 211);
    width: 100%;
    margin-top: .05rem;
    margin-bottom: .05rem;
}

.product-detail-container-width-regular .comments {
    padding: .15rem 0;
}

.product-detail-container-width-regular .comments {
    width: 100%;
    color: black;
}

.product-detail-container-width-regular .comments .favor {
    display: inline-block;
    color: rgb(238, 75, 0);
}

.product-detail-container-width-regular .comments .comment-cnt {
    display: inline-block;
}

.product-detail-container-width-regular .comments .right-click {
    width: .1rem;
    height: .1rem;
    float: right;
}

.product-detail-container-width-regular .more {
    background: white;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: .05rem .15rem;
    
    min-height: 4rem; /* used for debug only */
}

.product-detail-container-width-regular .menu {
    color: white;
    display: flex;
    text-align: center;
    max-width: 100%;
}

.product-detail-container-width-regular .lanmall-cart {
    width: 20%;
    height: 100%;
    position: relative;
}

.product-detail-container-width-regular .imm-buy {
    width: 40%;
    background: rgb(137, 205, 60);
    line-height: .5rem;
    display: inline-block;
}

.product-detail-container-width-regular .into-cart {
    width: 40%;
    background: rgb(114, 170, 51);
    line-height: .5rem;
    display: inline-block;
}

.order-detail-container-width-regular {
    padding: 0 .15rem;
    padding-top: .6rem;
    background: rgb(246, 246, 246);
    font-size: .16rem;
}

.border-card {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 3px;
    background: white;
    color: rgb(137, 137, 137);
    padding: 0 .1rem;
    padding-top: .15rem;
    overflow: hidden;
}

.border-card.revise-padding {
    padding-top: 0;
    padding-bottom: .15rem;
}

.border-card .line {
    width: 100%;
    display: flex;
    position: relative;
}

.border-card .line.vmargin {
    margin: .1rem 0;
}

.border-card .right {
    float: right; 
    padding-right: .2rem;   
}

.left-col, .right-col {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.float-left {
    display: inline-block;
    position: absolute;
    top: 0; left: 0;
}

.float-right {
    display: inline-block;
    position: absolute;
    top: 0; right: .2rem;
}

button.inflate {
    background: white;
    color: rgb(137, 137, 137);
    border: 1px solid rgb(137, 137, 137);
    border-radius: 3px;
    font-size: .16rem;
    padding: .05rem .15rem;
    margin: .2rem;
}

button.inflate:hover {
    color: rgb(137, 205, 60);
    border: 1px solid rgb(137, 205, 60);
}

.order-detail-container-width-regular .order-states {
    border-color: rgb(137, 205, 60);
}

.order-detail-container-width-regular .order-condiments {
    padding-bottom: .1rem;
}

.order-detail-container-width-regular .order-condiments .line {
    padding: .1rem 0;
}

.order-detail-container-width-regular .order-count {
    display: inline-block;
    color: rgb(137, 205, 60);
}

.order-detail-container-width-regular .order-details {
    color: rgb(153, 153, 153);
}

.order-detail-container-width-regular .order-details p {
    margin: .1rem 0;
    color: black;
}

.order-detail-container-width-regular .order-routine ul {
    list-style-type: none;
    overflow: hidden;
}

.order-detail-container-width-regular .order-routine ul li {
    height: 1rem;
    float: left;
    width: 21%;
    margin: 0 .05rem;
    position: relative;
}

.order-detail-container-width-regular .order-routine ul li p {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.order-detail-container-width-regular .order-submit {
    background: url("../images/order_submit.png") no-repeat center;
}

.order-detail-container-width-regular .order-check {
    background: url("../images/order_check.png") no-repeat center;
}

.order-detail-container-width-regular .order-ship {
    background: url("../images/order_ship.png") no-repeat center;
}

.order-detail-container-width-regular .order-resolve {
    background: url("../images/order_resolve.png") no-repeat center;
}

.header-container {
    width: 100%;
    position: fixed;
    background: white;
    z-index: 1000;
}